[core]
	editor = vim -c \"set fenc=utf-8\"
	filemode = false
	safecrlf = false
	autocrlf = input
[color]
	ui = auto
[alias]
	ignore   = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored  = !git ls-files -v | grep "^h"
	b        = branch --all --verbose
	c        = commit -v
	s        = status --short --branch
	d        = diff
	ds       = diff --staged
	l        = log --graph --date=relative --abbrev-commit --pretty='%C(red)%h %C(reset)%s%C(yellow)%d %C(green)(%cr) %C(blue)<%an>'
	ll       = log --graph --date=relative --abbrev-commit --pretty=full --stat
[include]
	path = ~/.gitconfig.local
[push]
	default = simple
[ghq]
	root = ~/src
[http "https://gopkg.in"]
	followRedirects = true
[commit]
	verbose = true
[merge]
	ff = false
[pull]
	ff = only
[url "git@github.com:"]
	insteadOf = https://github.com/
