[core]
    editor = vim -c \"set fenc=utf-8\"
    filemode = false
[color]
    ui = auto
[alias]
    ignore   = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored  = !git ls-files -v | grep "^h"
    s        = status --short --branch
    l        = log --graph --all --date=relative --abbrev-commit --pretty='%C(red)%h %C(reset)%s%C(yellow)%d %C(green)(%cr) %C(blue)<%an>'
    ll       = log --graph --all --date=relative --abbrev-commit --pretty=full --stat
[include]
    path = ~/.gitconfig.local
[push]
    default = simple
