{{range $k,$v:= .}}[Unit]
Requires=docker.service
After=docker.service
[Service]
Restart=always
RestartSec=30
TimeoutStartSec=300
ExecReload=/usr/bin/docker restart %n
ExecStop=/usr/bin/docker stop %n
ExecStartPre=/usr/bin/docker pull {{$v.image}}
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n \
            {{if $v.net}}--net host \
            {{end}}{{if $v.hostname}}--hostname {{$v.hostname}} \
            {{end}}{{if $v.restart}}--restart {{$v.restart}} \
            {{else}}--rm \
            {{end}}{{range $ek,$ev := $v.environment}}--env {{$ek}}={{$ev}} \
            {{end}}{{range $v.volumes}}--volume {{.}} \
            {{end}}{{range $v.ports}}--publish {{.}} \
            {{end}}{{$v.image}}{{range $v.commands}} {{.}}{{end}}
{{end}}
