---
Resources:{{range $k,$v:= .}}
  {{$k}}Service:
    Type: AWS::ECS::Service
    Properties:
      Cluster:
        Ref: Cluster
      DesiredCount:
        Ref: {{$k}}DesiredCount
      TaskDefinition:
        Ref: {{$k}}Task
  {{$k}}Task:
    Type: AWS::ECS::TaskDefinition
    Properties:
      ContainerDefinitions:
      - Name: {{$k}}
        Image: {{$v.image}}
        {{if $v.environment}}Environment:{{range $ek,$ev := $v.environment}}
        - Name: {{$ek}}
          Value: {{$ev}}{{end}}
        {{end}}{{if $v.ports}}PortMappings:{{range $v.ports}}{{$pl := split . ":"}}
        - ContainerPort: {{index $pl 0}}
          HostPort: {{index $pl 1}}{{end}}
        {{end}}{{if $v.links}}Links:{{range $v.links}}
        - {{.}}{{end}}
        {{end}}MountPoints:{{range $v.volumes}}{{$vl := split . ":"}}
        - SourceVolume: {{$k}}{{index $vl 0 | base}}Volume
          ContainerPath: {{index $vl 1}}{{end}}
      {{if $v.volumes}}Volumes:{{range $v.volumes}}{{$vl := split . ":"}}
      - Name: {{$k}}{{index $vl 0 | base}}Volume
        Host:
          SourcePath: {{index $vl 0}}{{end}}{{end}}{{end}}
